.md-image > .md-meta {
  font-family: var(--monospace);
  color: var(--image-meta-text-color);
  background-color: var(--image-meta-background-color);
  font-size: 0.9em;
  padding: 2px 4px;
}

img {
  display: inline-block;
  padding: var(--image-padding);
  background-color: var(--image-background-color);
  border-radius: var(--image-border-radius);
}

.md-image {
  display: block;
  text-align: center;
}