/* [typora] */
:root {
    --mac-title-bar-height: 20px;
    --sidebar-width: 270px;
    --tab-title-font-size: 16px;
    --dropdown-menu-border-radius: 0.3em;
    --base-font: "Helvetica Neue", "Noto Sans", -apple-system, Ubuntu,
    "Microsoft YaHei", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans",
    "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC",
    "Source Han Sans CN", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", "Source Sans Pro", sans-serif;
    --title-font: "EB Garamond", Georgia, "Noto Serif", "Noto Serif CJK SC",
    "Nimbus Roman No9 L", "Songti SC", "Source Han Serif SC",
    "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun,
    SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN",
    "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU,
    "Ubuntu", "Source Sans Pro", serif;
    --monospace: "Menlo", Consolas, "Monaco", "JetBrains Mono", "Fira Code", "Cascadia Code",
    "Microsoft YaHei UI", "Sarasa Term SC", Monaco, "Deja Vu Sans Mono", "Lucida Console",
    "Andale Mono", "Roboto Mono", Courier, Monospace !important;
}

/* [general] */
:root {
    --font-size: 16px;
    --text-line-heigt: 1.6em;
    --text-letter-spacing: 0;
    --text-word-spacing: 0.05em;
    --text-highlight-border-radius: 0.2em;
    --text-highlight-padding: 0.15em 0.3em;
    --text-highlight-margin: 0 0.15rem;
}

/* [title] */
:root {
    --title-h1-size: 2.4rem;
    --title-h1-underscore-display: block; /* set 'none' as value if do not want underscore to be showed */
    --title-h2-size: 1.8rem;
    --title-h3-size: 1.6rem;
    --title-h4-size: 1.45rem;
    --title-h5-size: 1.3rem;
    --title-h6-size: 1.15rem;
}

/* [blockquote] */
:root {
    --blockquote-bar-width: 0.25em;
    --blockquote-bar-padding: 0.4em 0 0.4em 1em;
}

/* [code] */
:root {
    --inline-code-font-size: 0.9em;
    --inline-code-border: none;
    --inline-code-border-radius: 0;
    --inline-code-padding: 2px;
    --inline-code-lateral-margin: 3px;
    --code-block-border-radius: 6px;
    --code-block-inner-padding: 4px;
    --code-block-inner-border-radius: 8px;
    --code-block-font-size: 14px;
    --code-block-font-weight: lighter;
    --code-block-line-height: 1.75;
    --code-block-cursor-width: 2px;
    --code-block-linenumber-padding: 0 1px 0 4px;
}

/* [list] */
:root {
    --list-padding-left: 1.25em;
    --list-item-padding-left: 0.25em;
    --task-list-input-border-radius: 0.25em;
    --task-list-text-padding-left: 0.4em;
}

/* [table] */
:root {
    --table-cell-padding: 0.5em; /* cell includes <th> and <td>, the same below */
}

/* [image] */
:root {
    --image-padding: 0.8rem;
}