table {
  margin: var(--table-margin);
}

table th {
  font-weight: bold;
}

table th, table td {
  padding: var(--table-cell-padding);
  line-height: var(--table-cell-line-height);
  border: 1px solid var(--table-cell-border-color);
  vertical-align: middle;
}

table tr:nth-child(2n), thead {
  background-color: var(--table-cell-second-fill-color);
}