table {
  margin-bottom: 1.25rem;
}

table th {
  font-weight: bold;
}

table th, table td {
  padding: var(--table-cell-padding);
  line-height: 1.25rem;
  vertical-align: middle;
  border: 1px solid var(--table-cell-border-color);
}

table tr:nth-child(2n), thead {
  background-color: var(--table-cell-second-fill-color);
}