.info-panel-tab-title {
  /* File and Outline */
  font-size: var(--tab-title-font-size);
}

.info-panel-tab-border {
  background: var(--title-color);
}

.outline-label {
  color: var(--title-color);
}

.dropdown-menu {
  border-radius: var(--dropdown-menu-border-radius);
  background-color: var(--dropdown-menu-background-color);
}

.dropdown-menu .divider {
  background-color: var(--dropdown-menu-divider-color);
  opacity: 1;
}

#outline-btn:hover {
  color: var(--text-color);
}

#toggle-sourceview-btn {
  background: none !important;
}

#toggle-sourceview-btn:hover {
  background: var(--active-toggle-btn-color) !important;
}

.footer-item:hover, .sidebar-footer-item:hover {
  color: var(--item-hover-text-color);
  background: var(--active-toggle-btn-color) !important;
}